{% extends 'layout.html' %}

{% block body %}

    <h2>Create Group</h2>
    <p>You can create a group with your friends! If you want to add a friend to existing group, please head over to Friends.</p>
    <form action="/addgroups" method="POST">
        <label for="group_name">Group Name</label>
        <input type="text" class = "form-control" name = "group_name" id = "group_name" required/><br>
        
        <label for="Desc">Description</label>
        <input type="text" class = "form-control" name = "description" id = "Desc" required/><br>
  
        <label for="addMems">Please enter the emails of the members with a comma in between emails (ie 'aa@nyu.edu, bb@nyu.edu, cc@nyu.edu)'</label>
        <input type="text" class = "form-control" name = "mems" id = "addMems" required/><br>
        <p><input type="submit" class="btn btn-primary" value="Create"></p>
    
    </form>
    <br/>
    <h2>Delete Group</h2>
    <p>All actions are permanent!</p>
    <form action="/deletegroups" method="POST">
        <label for="group_name">Group Name</label>
        <input type="text" class="form-control" name="group_name" id="group_name" required/><br/>
        <br/>
        
        <p><input type="submit" class="btn btn-primary" value="Delete"></p>
    </form>
    <br/><br/>

{% endblock %}
